<h2 class="page-header">new book</h2>
<form action="/books" method="POST">
  <%-include("_form_fields.ejs")%>
  <div class="form-row form-row-end btn-row">
  <a class="editlinks" href="/books">cancel</a>
  <button class="btn btn-primary" type="submit">create</button>
</div>
</form>
