<header>
  <div class="logo">
    <a href="/"><img href ="/" src="/book.svg" alt=""></a>
    <a class="logo-text" href="/"> Book Collector</a>
  </div>
  <nav>
    <ul>
      <li><a href="/authors">Authors</a></li>
      <li><a href="/authors/new"><span></span>Add Authors</a></li>
      <li><a href="/books">Books</a></li>
      <li><a href="/books/new">Add Books</a></li>
    </ul>
  </nav>
</header>
