:root {
  --color-btnprimary-text: #ffffff;
  --color-btnprimary-bg: #1e9970;
  --color-btnprimray-hover: #477062;
  --color-btndanger-text: #000000;
  --color-btndanger-bg: #9b3535;
  --color-btndanger-hover: #c44b4b;
  --color-editlinks-bg: #9b9b9b;
}

.editlinks {
  color: var(--color-btnprimary-text);
  transition: all 230ms ease;
  background-color: var(--color-editlinks-bg);
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  padding: 9px 16px;
  font-weight: bold;
  text-align: center;
}

.editlinks:hover {
  color: var(--color-btndanger-text);
}

.btn {
  border: none;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 12px;
  width: 80px;
  height: 30px;
  font-family: "Josefin Sans";
  cursor: pointer;
  font-weight: bold;
  transition: all 250ms ease;
  text-align: center;
}

.btn-primary {
  color: var(--color-btnprimary-text);
  background-color: var(--color-btnprimary-bg);
}

.btn-primary:hover {
  background-color: var(--color-btnprimray-hover);
}

.btn-danger {
  color: var(--color-btndanger-text);
  background-color: var(--color-btndanger-bg);
}
.btn-danger:hover {
  background-color: var(--color-btndanger-hover);
}

.btn-row {
  display: flex;
  align-items: center;
}

.btn-search {
  margin: 0;
}

.btn-row > * {
  margin: 1rem 1rem 1rem 0;
}
