<h2 class="page-header">new author</h2>
<form action="/authors" method="POST">
  <%-include("_form_fields.ejs")%>
  <div>
    <a class="editlinks" href="/authors">cancel</a>
    <button class="btn btn-primary" type="submit">create</button>
  </div>
</form>
